/* main.css */

.row>* {
  width: 0;
}

#search .row>* {
  width: inherit;
}

.banner, #overlay {
  height: 500px;
  justify-content: end;
}

#front img {
  height: 470px;
  margin-right: 12rem!important;
}

#overlay {
  background-image: linear-gradient(90deg, rgba(var(--bs-dark-bg-rbg), .9) 30%, rgba(255,255,255,0) 70%);
}

#info {
  left: 3%;
  width: 48%!important;
  text-shadow: 1px 1px 1px black;
}

.stars {
  filter: hue-rotate(204deg) saturate(1) brightness(1.5);
}

#blur {
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .75;
}

@media only screen and (max-width: 767px) {
  .banner {
    align-items: flex-end!important;
    height: auto;
    justify-content: center;
  }
  #front img {
    width: 60%;
    height: auto;
    padding-bottom: 180px;
    margin-right: 0!important;
  }

  #info {
  width: 95%!important;
  padding-bottom: 1.4rem;
  left: 2%;
  }

  #info h2 {
  font-size: 1.2rem;
  }

  #info h6 {
  font-size: .75rem;
  }

  #overlay {
  height: 100%;
  background-image: linear-gradient(0deg, rgba(var(--bs-dark-bg-rbg), .9) 30%, rgba(255,255,255,0) 70%);
  }

  #home .row>* {
    width: 100%;
  }

  .modal.show {
    padding-bottom: 8rem!important;
  }
}

.sidebar, .sidebar .nav {
  width: 72px!important;
}

.modal-content, .modal-header {
  background-color: transparent;
  border: none;
}

.modal-dialog {
  max-width: 800px;
  margin: 30px auto;
}

.modal-body {
  padding:0px;
}

.btn-close {
  position:absolute;
  right:-30px;
  top:0;
}

img, iframe {
  border-radius: 6px;
}

a {
  text-decoration: none;
}

img { 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.modal.show {
  display: inline-table!important;
}

input {
  font-size: 24px;
}

input:focus-visible {
  outline: none;
}

.anime-row {
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.anime-row>* {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}