:root, [data-bs-theme="dark"] {
  --bs-primary: #ffc107;
  --bs-primary-rgb: 255, 193, 7;
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-bg: #0c0c0c;
  --bs-dark-bg-rbg: 8, 8, 8;
  --font-rubik: "Rubik";
  --bs-body-font-family: var(--font-rubik);
  --font-family: var(--font-rubik);
  --bs-secondary: #2d2d2d;
  --bs-secondary-rgb: 45, 45, 45;
  --bs-border-color: rgb(48 51 55);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: 247, 212, 109;
  --bs-link-hover-color: #ffca2c; 
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

section ::-webkit-scrollbar {
  height: 10px;
}

section ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}

.p-button {
  background: var(--bs-primary)!important;
  border: 1px solid var(--bs-primary)!important;
}

.p-button:not(:disabled):hover {
  background: var(--bs-link-hover-color)!important;
  border: 1px solid var(--bs-link-hover-color)!important;
}