:root, [data-bs-theme=dark] {
  --bs-primary: #ffc107;
  --bs-primary-rgb: 255, 193, 7;
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-bg: #080808;
  --bs-dark-bg-rbg: 8, 8, 8;
  --font-rubik: "Rubik";
  --bs-body-font-family: var(--font-rubik);
  --font-family: var(--font-rubik);
  --bs-secondary: #1f1f1f;
  --bs-secondary-rgb: 31, 31, 31;
  --bs-border-color: #2e3338;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

section ::-webkit-scrollbar {
  height: 10px;
}

section ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}