:root, [data-bs-theme="dark"] {
  --bs-primary: #ffc107;
  --bs-primary-rgb: 255, 193, 7;
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-bg: #0c0c0c;
  --bs-body-bg-rgb: 12, 12, 12;
  --bs-dark-bg-rbg: 8, 8, 8;
  --bs-secondary: #2d2d2d;
  --bs-secondary-rgb: 45, 45, 45;
  --bs-border-color: rgb(48 51 55);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: 255, 207, 63;
  --bs-link-hover-color: #ffcf3f;
  --bs-body-font-family: rubik;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

section ::-webkit-scrollbar {
  height: 10px;
}

section ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}

[ripple] {
  position: relative;
  overflow: hidden;
  &:before {
      content: '';
      position:absolute;
      display: block;
      background: white;      
      border-radius: 50%;
      pointer-events: none; 
      top: calc(var(--y) * 1px);
      left: calc(var(--x) * 1px);
      width:  calc(var(--d) * 1px);
      height: calc(var(--d) * 1px);
      opacity: calc(var(--o, 1) * 0.3);                
      transition: all calc(var(--t, 0) * 350ms) linear;   
      transform: translate(-50%, -50%) scale(var(--s, 1));
      transform-origin: center;
      z-index: 5;
  }
}