:root, [data-bs-theme="dark"] {
  --bs-primary: #fbbf24;
  --bs-primary-rgb: 255, 193, 7;
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-bg: #0d0d0d;
  --bs-body-bg-rgb: 13, 13, 13;
  --bs-dark-bg-rgb: 8, 8, 8;
  --bs-secondary: #262626;
  --bs-secondary-rgb: 38, 38, 38;
  --bs-border-color: rgb(48 51 55);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: 252, 211, 77;
  --bs-link-hover-color: #fcd34d;
  --bs-body-font-family: rubik;
  --bs-danger-rgb: 255, 103, 118;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

section ::-webkit-scrollbar {
  height: 10px;
}

section ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}
