:root, [data-bs-theme="dark"] {
  --bs-primary: #fbbf24;
  --bs-primary-rgb: 255, 193, 7;
  --bs-dark: #000;
  --bs-dark-rgb: 0, 0, 0;
  --bs-body-bg: #0d0d0d;
  --bs-body-bg-rgb: 13, 13, 13;
  --bs-dark-bg-rgb: 8, 8, 8;
  --bs-secondary: #262626;
  --bs-secondary-rgb: 38, 38, 38;
  --bs-border-color: rgb(48 51 55);
  --bs-link-color-rgb: var(--bs-primary-rgb);
  --bs-link-hover-color-rgb: 252, 211, 77;
  --bs-link-hover-color: #fcd34d;
  --bs-body-font-family: rubik;
  --bs-danger-rgb: 255, 103, 118;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bs-secondary);
}

section ::-webkit-scrollbar {
  height: 10px;
}

section ::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 0 solid transparent;
  background-clip: content-box;
  background-color: var(--bs-primary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--bs-primary);
}

[ripple], [ripple-dark] {
  position: relative;
  overflow: hidden;
}

[ripple]:before {
  background: white;
}

[ripple-dark]:before {
  background: black;
}

[ripple]:before, [ripple-dark]:before {
  content: '';
  position: absolute;
  display: block;     
  border-radius: 100%;
  pointer-events: none; 
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width:  calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  opacity: calc(var(--o, 1) * 0.4);                
  transition: calc(var(--t, 0) * 350ms) linear;   
  transform: translate(-50%, -50%) scale(var(--s, 1));
  transform-origin: center;
  z-index: 1;
}